<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chess Game</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/game.css}">
</head>
<body>
<div id="chess-app" class="container" th:if="${game != null}">
    <div class="turn" id="turn">
        <h4></h4>
    </div>
    <div id="error" class="error hidden">
    </div>
    <div id="chess-container" class="chess-container">
        <div class="coordinates top">
            <span>A</span><span>B</span><span>C</span><span>D</span><span>E</span><span>F</span><span>G</span><span>H</span>
        </div>
        <div class="chessboard-with-coordinates">
            <div class="coordinates left">
                <span>8</span><span>7</span><span>6</span><span>5</span><span>4</span><span>3</span><span>2</span><span>1</span>
            </div>
            <div id="chessboard" class="chessboard"></div>
            <div class="coordinates right">
                <span>8</span><span>7</span><span>6</span><span>5</span><span>4</span><span>3</span><span>2</span><span>1</span>
            </div>
        </div>
        <div class="coordinates bottom">
            <span>A</span><span>B</span><span>C</span><span>D</span><span>E</span><span>F</span><span>G</span><span>H</span>
        </div>
    </div>
</div>
<div class="loader hidden" id="loader"></div>
<div class="game-over-container hidden" id="game-over">
    <div class="game-over">
        <h1>Game Over</h1>
        <h2></h2>
        <a href="/">Play Again</a>
    </div>
</div>
</body>
<footer>
    <button class="btn-small" onclick="window.location.href = '/';">Home</button>
    <small>Game ID: <span th:text="${game.id}"></span></small>
    <small>Session ID: <span th:text="${game.sessionId}"></span></small>
    <button class="btn-small red" onclick="getGeminiMove()">Force Google turn</button>
</footer>
<script th:inline="javascript">
    let game = [[${game}]]
    let fenData = [[${game.currentFEN}]]
    const playerSide = [[${game.playerSide}]]
    document.addEventListener('DOMContentLoaded', () => {
        renderBoard(fenData, playerSide);
    });
</script>
<script th:src="@{/js/chessboard.js}"></script>
<script th:src="@{/js/piece-manager.js}"></script>
</html>